<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Clicker Game</title>
    <link rel="stylesheet" href="{%static 'styles.css' %}">
</head>
<body>
    <div id="bg-ctn"></div>
    <header>
        <a href="/leaderboards" class="reg-button header-button invert-bg">leaderboard</a>
        <h1 id="title">CRPT 
            <span id="score">:</span>
        CLCK</h1>
        <button id="finish" class="reg-button header-button invert-bg">claim</a>
    </header>

    <button id="center-button" class="reg-button">Exec</a>

    <form id="save-score" method="POST">
        {% csrf_token %}
        <input type="hidden" id="username" name="username">
        <input type="hidden" id="score-input" name="score">
    </form>

    <script src="{% static 'bg.js' %}"></script>
    <script src="{% static 'game.js' %}"></script>
</body>
</html>
