<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboards</title>
    <link rel="stylesheet" href="{%static 'styles.css' %}">
</head>
<body>
    <header>
        <a href="/leaderboards" class="reg-button header-button selected invert-bg">leaderboard</a>
        <h1 id="title">CRYPTOCLICKER</h1>
        <a href="javascript:history.back()" class="reg-button header-button invert-bg">back</a>
    </header>
    <div class="leaderboard-container">
        <table id="leaderboard-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- Use forloop.counter to display rank -->
                    <td>{{ item.username }}</td>
                    <td>{{ item.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script defer src="{% static 'bg.js' %}"></script>
</body>
</html>
